extends layoutadmin
block tieude
	|Quản Lý Sản Phẩm 
block content
	div(style='margin-bottom: 30px;')
		.col-md-12(style='margin-bottom: 20px;')
			a.btn.btn-primary(role='button', data-toggle='modal', href='/admin/sanpham/add')
				i.fa.fa-plus
				|  Thêm
	.row
		.col-md-12
			table.table.table-hover
				thead
					tr
						th ID
						th Sản Phẩm
						th Giá
						th Miêu Tả
						th
						th
				tbody
					each post in yt
						tr
							td(style='text-align: center;') #{post.masp}
							td(style='text-align: center;') #{post.tensp}
							td(style='text-align: center;') #{post.gia}
							td(style='text-align: center;') #{post.mieuta}
							td
								form#registerForm.form-horizontal(action='/admin/sanpham/#{post._id}', method='post')
									button#btnDetele.btn.btn-danger.btn-xs(type ='submit' title='Xóa')
										i.fa.fa-remove
							td
								a#btnEdit.btn.btn-success.btn-xs(title='Chỉnh Sửa', role='button', href='/admin/sanpham/edit/#{post._id}')
									i.fa.fa-pencil